.content-grid{
    display: flex;
    margin-top: 2rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
@media(min-width: 900px){
    .content-grid{
        flex-direction: row;
        flex-basis: 35%;
        gap: 5rem;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        
    }

}


.banner{
    margin-top: 0;
    padding-top: 0;
    background-image: url('../resources/img/WebBackground.png');
    background-size: contain;

    width: 100vw;
    height: 10rem;
    position: relative;
}

@media(min-width: 900px){
    .banner{

        height: 30rem;

    }

}
.banner img{
    width: 100vw;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
}

.description{
    display: flex;
    flex-direction: column;
    flex: 0 90%;
    margin-left: 2rem;
    margin-right: 2rem;

}
.splash-img{
    display: flex;
    flex: 0 90%;
    align-items: center;

}

@media(min-width: 900px){
    .description{
        display: flex;
        flex-direction: column;
        flex: 0 45%;
        margin-left: 2rem;
        margin-right: 2rem;
    
    }
    .splash-img{
        display: flex;
        flex: 0 45%;
        align-items: center;
    
    }

}

.main-logo{
    max-width: 100%;
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid 2px var(--clr-primary);
    border-radius: 2rem;
    padding: 0;
    box-shadow: var(--default-shadow);
}



.custom-check::marker {
    content: '\f14a';
    color: var(--clr-primary);
    font-family: 'Font Awesome 5 Free';
    transition: color 250ms ease-in-out;
    
}

.custom-check:hover::marker {
    color: var(--clr-accent);
    
}

.custom-check{
    padding-left: 0.5rem;
    line-height: 3rem;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    
}

.custom-check::after{
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0;
    width: calc(100% + 20px);
    height: 2px;
    background-color: var(--clr-accent);

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 250ms ease-in;
}

.custom-check:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

h3{
    padding: 0;
    margin-top:1rem;
    margin-bottom: 0;
    font-size: 1.75rem;
    color: var(--clr-primary);
}
.technologies{
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.js-icon{
    color: rgb(245, 221, 27);
    
}

.css-icon{
    color: rgb(24, 112, 183);
}

.html-icon{
   color: rgb(239, 99, 38); 
}

.icon-size{
    font-size: 4rem;
}

@media(min-width: 900px){
    .icon-size{
        font-size: 5em;
    }
}

.tech-img{
    max-width: 6rem;
    border-radius: 0.5rem;
}

@media(max-width: 900px){
    .description{
        align-items: center;

    }

    .splash-img{
        justify-content: center;
    }


}

.btn{
    display: block;
    padding: 0.75rem;
    background-color: var(--background-clr);
    border: 2px solid var(--clr-primary);
    border-radius: 0.6rem;
    color: var(--clr-primary);
    width: -moz-fit-content;
    width: fit-content;
    
    text-decoration: none;

    font-size: 1.5rem;
    
    transition: all 250ms ease-in-out;

    width: 100%;
}

.btn:hover,
.btn:focus{
    background-color: var(--clr-primary-hover);
    color: var(--foreground-clr);
    border: 2px solid var(--clr-primary-hover);
    cursor: pointer;

}


.contact{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 90rem;
    background-color: var(--clr-card-bg);
    margin-bottom: 2rem;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--default-shadow);
}
.contact p{
    text-align: left;
    width: 17rem;
    
}
form{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

input{
    padding: 0.5rem 2rem;
    width: 17rem;
    border-radius: 0.4rem;
    font-size: 2rem;
    line-height: 2rem;
}
textarea{
    width: 17rem;
    min-height: 10rem;
    border-radius: 0.4rem;
}
.form-group{
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
label{
    display: block;
}
@media(min-width: 900px){
    .contact p{
        min-width: none;
        width: 30rem;
    }
    input{
        min-width: 30rem;
        
    }
    textarea{
        min-width: 30rem;
    }
}