main{
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 900px){
    main{
        max-width: 90rem;
    }

}

main a {
    color: var(--clr-primary);
}

main a:hover{
    color: var(--clr-primary-hover);
}